.wordbox {
  display: inline-block;
  position: relative;
  top: 90px;
  padding: 16px;
  margin: 4px;
  background-color: #bebebb;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 68px;
  border-radius: 8px;
  letter-spacing: 4px;
  z-index: 1;
}

.wordbox--mistake {
  background-color: #e64747;
  color: white;
}

@media (max-width: 800px) {
  .wordbox {
    top: 40px;
    padding: 25px 70px;
    margin: 25px;
    font-size: 36px;
    letter-spacing: 2px;
    border-radius: 10px;
  }
}
